project_id = "YOUR_PROJECT"

region = "europe-west9"
zone   = "europe-west9-a"

github_username = "github organization"

variable "gcp_apis" {
  description = "List of APIs to enable for realize this configuration"
  type        = set(string)
  default = [
    "compute.googleapis.com",
    "sqladmin.googleapis.com",
    "secretmanager.googleapis.com",
    "iap.googleapis.com",
    "servicenetworking.googleapis.com",
    "iamcredentials.googleapis.com",
    "iam.googleapis.com",
    "artifactregistry.googleapis.com",
    "container.googleapis.com"
  ]
}